body {
  height: 100%;
  background-color: #dee2e6;
}

/* Header */
.add-produce-button{
  margin-right: 80%;
}
.login-icon{
  margin-left: 15px;
}

/* Body */

.div-body {
  height: 85%;
}
.table-component{
  margin-top: 20px;
}

/* Footer */



/* create produce form */

.div-form-inputs{
  display: flex;
}
.text-field-form{
  width: 350px;
}
.select-field-form{
  width: 200px;
}
.typo-name-form{
  width: 150px;
}

/* read produce form */
.title-text-field-produce-read{
  margin-right: 25px;
}
.text-field-read-produce{
  width: 200px;
  
}
