body {
  height: 100%;
  background-color: #dee2e6;
  
}

/* Header */
.div-header {
  height: 10%;
}

.con-header {
  height: 100%;
}

.row-header {
  height: 100%;
  background-color: #0d21a1;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-top: 1%;
  border-radius: 25px 25px 0px 0px;
}
.add-produce-button{
  margin-right: 80%;
}

/* Body */

.div-body {
  height: 85%;
}
.con-body {
  height: 100%;
}
.row-body {
  height: 100%;
  background-color: #eef0f2;
  overflow: scroll;
}
.table-component{
  margin-top: 30px;
}

/* Body -> Modal */
.modal-content {
  background-color: #eef0f2;
}

/* Footer */
.div-footer {
  height: 5%;
}
.con-footer {
  height: 100%;
}
.row-footer {
  height: 100%;
  border-radius: 0px 0px 25px 25px;
  background-color: #0d21a1;
  color: white;
  text-align: center;
}


/* create produce form */

form {
  height: 95%;
  border: solid 1px rgb(185, 178, 178);
  border-radius: 25px;
  margin-top: 10px;
}
.form-title-page {
  margin-top: 10px;
  margin-bottom: 50px;
}
.form-row {
  margin-bottom: 20px;
}
.form-input {
  width: 400px;
}
.form-select {
  width: 150px;
}
.form-checkbox {
  width: 50px;
}

#floatingTextarea2 {
  height: 450px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
